.grid__item--purple-500 {
   background-color: var(--purple-500);
}

.grid__item--purple-100 {
   background-color: var(--purple-100);
}

.grid__item--yellow-500 {
   background-color: var(--yellow-500);
}

.grid__item--yellow-100 {
   background-color: var(--yellow-100);
}

.grid__item--white {
   background-color: var(--white);
}