.grid {
   display: grid;
   gap: var(--spacing-400);

   width: min(1120px, 100% - (var(--spacing-200) * 2));

   padding-block: var(--spacing-400);
   margin: auto;
}

.grid__item {
   overflow: hidden;

   border-radius: 10px;
}

.grid__item:nth-child(1) {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-300);

   padding: var(--spacing-500) var(--spacing-400);

   & div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--spacing-100);
   }

   & img {
      height: 32px;
      width: auto;
   }
}

.grid__item--purple-500 {
   background-color: var(--purple-500);
}

.grid__item--purple-100 {
   background-color: var(--purple-100);
}

.grid__item--yellow-500 {
   background-color: var(--yellow-500);
}

.grid__item--yellow-100 {
   background-color: var(--yellow-100);
}

.grid__item--white {
   background-color: var(--white);
}