.grid {
   --padding: 1rem;

   display: grid;
   gap: var(--spacing-400);

   width: min(1120px, 100% - (var(--padding) * 2));

   padding-block: var(--spacing-400);
   margin: auto;
}

.grid__item {
   overflow: hidden;

   border-radius: 10px;
}

.grid__item:nth-child(1) {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: var(--spacing-300);

   padding: var(--spacing-500) var(--spacing-400);

   & div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--spacing-100);
   }

   & img {
      width: auto;
      height: 32px;
   }
}

.grid__item:nth-child(2) {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-200);

   padding: var(--spacing-200);

   & h2 {
      order: 2;
   }

   & div {
      display: flex;
      gap: 10px;

      min-width: 316.08px;
   }

   & img {
      width: 100%;
      height: auto;

      border-radius: 50rem;
      box-shadow: -9.78145px 11.7377px 24.4536px rgba(98, 26, 123, 0.05);
   }
}

.grid__item:nth-child(3) {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-200);

   padding: var(--spacing-200);
   padding-bottom: 0;

   & img {
      width: 208px;
      height: auto;

      margin-bottom: -20.75px;
   }
}

.grid__item:nth-child(4) {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: var(--spacing-300);

   padding: var(--spacing-400);

   & img {
      width: 308.06px;
      height: auto;
   }
}

.grid__item:nth-child(5) {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: var(--spacing-500);

   padding: var(--spacing-300);

   & h2 {
      order: 2;
   }

   & img {
      width: 227.68px;
      height: auto;
   }
}

.grid__item:nth-child(6) {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-300);

   padding: var(--spacing-300);

   & div {
      display: flex;
      flex-direction: column;
      gap: 15px;
   }

   & img {
      width: 178.93px;
      height: auto;
   }
}

.grid__item:nth-child(7) {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-300);

   padding: var(--spacing-400);

   & img {
      width: 190.47px;
      height: auto;
   }
}

.grid__item:nth-child(8) {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-300);

   padding: var(--spacing-300);

   & img {
      width: 219.95px;
      height: auto;
   }
}

.grid__item--purple-500 {
   background-color: var(--purple-500);
}

.grid__item--purple-100 {
   background-color: var(--purple-100);
}

.grid__item--yellow-500 {
   background-color: var(--yellow-500);
}

.grid__item--yellow-100 {
   background-color: var(--yellow-100);
}

.grid__item--white {
   background-color: var(--white);
}

@media (width >= 48rem) {
   .grid {
      --padding: 2rem;

      grid-template-columns: repeat(2, 1fr);
   }

   .grid__item:nth-child(1) {
      grid-column: 1/3;

      padding: 72px var(--spacing-400);

      & h1 {
         max-width: 536px;
      }
   }

   .grid__item:nth-child(2) {
      grid-column: 1/2;

      padding: var(--spacing-300);
   }

   .grid__item:nth-child(3) {
      grid-column: 2/3;

      padding: var(--spacing-300);
      padding-bottom: 0;
   }

   .grid__item:nth-child(4) {
      grid-column: 1/3;

      padding: var(--spacing-400); 

      & img, p, h2 {
         width: 357.3px;
      }
   }

   .grid__item:nth-child(5) {
      grid-column: 1/3;
      flex-direction: row;
      justify-content: center;

      padding: var(--spacing-300); 

      & h2 {
         width: 257px;

         text-align: left;
      }

      & img {
         width: 227.68px;
      }
   }

   .grid__item:nth-child(6) {
      grid-column: 1/3;
      flex-direction: row;
      justify-content: space-between;

      padding: var(--spacing-300);
   }

   .grid__item:nth-child(7) {
      grid-column: 1/2;
      justify-content: center;

      padding: var(--spacing-300);
   }
}
