.grid {
   display: grid;
   gap: var(--spacing-400);

   width: min(1120px, 100% - (var(--spacing-200) * 2));

   padding-block: var(--spacing-400);
   margin: auto;
}

.grid__item {
   overflow: hidden;

   border-radius: 10px;
}

.grid__item:nth-child(1) {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-300);

   padding: var(--spacing-500) var(--spacing-400);

   & div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--spacing-100);
   }

   & img {
      width: auto;
      height: 32px;
   }
}

.grid__item:nth-child(2) {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-200);

   padding: var(--spacing-200);

   & h2 {
      order: 2;
   }

   & div {
      display: flex;
      gap: 10px;

      min-width: 316.08px;
   }

   & img {
      width: 100%;
      height: auto;

      border-radius: 50rem;
      box-shadow: -9.78145px 11.7377px 24.4536px rgba(98, 26, 123, 0.05);
   }
}

.grid__item:nth-child(3) {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-200);

   padding: var(--spacing-200);
   padding-bottom: 0;

   & img {
      width: 208px;
      height: auto;

      margin-bottom: -20.75px;
   }
}

.grid__item:nth-child(4) {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: var(--spacing-300);

   padding: var(--spacing-400);

   & img {
      width: 308.06px;
      height: auto;
   }
}

.grid__item:nth-child(5) {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: var(--spacing-500);

   padding: var(--spacing-300);

   & h2 {
      order: 2;
   }

   & img {
      width: 227.68px;
      height: auto;
   }
}

.grid__item:nth-child(6) {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-300);

   padding: var(--spacing-300);

   & div {
      display: flex;
      flex-direction: column;
      gap: 15px;
   }

   & img {
      width: 178.93px;
      height: auto;
   }
}

.grid__item--purple-500 {
   background-color: var(--purple-500);
}

.grid__item--purple-100 {
   background-color: var(--purple-100);
}

.grid__item--yellow-500 {
   background-color: var(--yellow-500);
}

.grid__item--yellow-100 {
   background-color: var(--yellow-100);
}

.grid__item--white {
   background-color: var(--white);
}