@import url("variables.css");
@import url("utilities.css");
@import url("grid.css");

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   background-color: var(--bg-color);
}
