/* Utilities */

.text-preset {
   font-family: var(--font-family);
   font-size: 1.125rem;
   font-weight: 400;
   line-height: 20px;
}

.text-preset--1 {
   font-size: 2.875rem;
   font-weight: 500;
   line-height: 42px;
}

.text-preset--2 {
   font-size: 2rem;
   font-weight: 500;
   line-height: 28px;
}

.text-preset--3 {
   font-size: 1.625rem;
   font-weight: 500;
   line-height: 24px;
}

.text-preset--white {
   color: var(--white);
}

.text-preset--black {
   color: var(--black);
}

.text-preset--purple {
   color: var(--purple-500);
}

.text-preset--yellow {
   color: var(--yellow-500);
}

.text-preset--center {
   text-align: center;
}

@media (width >= 48rem) {
   .text-preset--1 {
      font-size: 3.375rem;
      font-weight: 500;
      line-height: 48px;
      
   }

   .text-preset--2 {
      font-size: 2.25rem;
      font-weight: 500;
      line-height: 30px;
      
   }

   .text-preset--3 {
      font-size: 1.75rem;
      font-weight: 500;
      line-height: 26px;
      
   }
}

@media (width >= 70rem) {
   .text-preset--1 {
      font-size: 3.875rem;
      font-weight: 500;
      line-height: 58px;
      
   }

   .text-preset--2 {
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 36px;
      
   }

   .text-preset--3 {
      font-size: 2rem;
      font-weight: 500;
      line-height: 28px;
      
   }
}