.text-preset {
   font-family: var(--font-family);
   font-size: 1.125rem;
   line-height: 111%;
   letter-spacing: 0%;
}

.text-preset--1 {
   font-size: 2.875rem;
   font-weight: 500;
   line-height: 42px;
}

.text-preset--2 {
   font-size: 2rem;
   line-height: 28px;
   letter-spacing: -6%;
}

.text-preset--3 {
   font-size: 1.625rem;
   line-height: 24px;
   letter-spacing: -6%;
}

.text-preset--white {
   color: var(--white);
}

.text-preset--black {
   color: var(--black);
}

.text-preset--purple {
   color: var(--purple-500);
}

.text-preset--yellow {
   color: var(--yellow-500);
}

.text-preset--center {
   text-align: center;
}